<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <style>
        body {
            text-align: center;
            font-size: large;
        }
    </style>
</head>
<body>
    <h1 style="text-align:center;">Login Page</h1>
    <form action="/submit" method="post">
        <label for="fname">Enter First Name:</label><br>
        <input type="text" name="fname" required><br><br>

        <label for="lname">Enter Last Name:</label><br>
        <input type="text" name="lname" required><br><br>

        <label for="age">Enter Age:</label><br>
        <input type="number" name="age" required><br><br>

        <label for="phno">Enter Mobile No:</label><br>
        <input type="number" name="phno" required><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>